<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.babasport.mapper.TestPojoMapper">
  <insert id="addTest" parameterType="TestPojo"  >
      INSERT INTO  test (name,date) VALUES (#{name},#{date})
  </insert>
  <select id="findfindTestPojoList" resultType="TestPojo" >
    SELECT * FROM test
  </select>
</mapper>